# Comments are provided throughout this file to help you get started.
# If you need more help, visit the Docker Compose reference guide at
# https://docs.docker.com/go/compose-spec-reference/

# Here the instructions define your application as a service called "server".
# This service is built from the Dockerfile in the current directory.
# You can add other services your application may depend on here, such as a
# database or a cache. For examples, see the Awesome Compose repository:
# https://github.com/docker/awesome-compose
services:
  etl:
    build:
      context: .
      dockerfile: docker/etl/Dockerfile
    env_file:
        - .env
    volumes:
      - ./data:/app/data
      - ./scripts:/app/scripts
      - ./db:/app/db
      - ./config.yml:/app/config.yml
    command: >
      sh -c "
      python scripts/init_db.py &&
      python scripts/ingest_google_sheet.py
      "
    depends_on:
      - superset

  superset:
    image: apache/superset:latest
    container_name: superset
    ports:
      - "8088:8088"
    volumes:
      - ./db:/app/db
      - superset_home:/superset_home
    environment:
      - SUPERSET_SECRET_KEY=dev_secret_key
    command: >
      sh -c "
      superset db upgrade &&
      superset fab create-admin --username admin --password admin
                               --firstname Admin --lastname User
                               --email admin@local.dev &&
      superset init &&
      superset run -h 0.0.0.0 -p 8088
      "

volumes:
  superset_home:

# The commented out section below is an example of how to define a PostgreSQL
# database that your application can use. `depends_on` tells Docker Compose to
# start the database before your application. The `db-data` volume persists the
# database data between container restarts. The `db-password` secret is used
# to set the database password. You must create `db/password.txt` and add
# a password of your choosing to it before running `docker compose up`.
#     depends_on:
#       db:
#         condition: service_healthy
#   db:
#     image: postgres
#     restart: always
#     user: postgres
#     secrets:
#       - db-password
#     volumes:
#       - db-data:/var/lib/postgresql/data
#     environment:
#       - POSTGRES_DB=example
#       - POSTGRES_PASSWORD_FILE=/run/secrets/db-password
#     expose:
#       - 5432
#     healthcheck:
#       test: [ "CMD", "pg_isready" ]
#       interval: 10s
#       timeout: 5s
#       retries: 5
# volumes:
#   db-data:
# secrets:
#   db-password:
#     file: db/password.txt

