# setup only for public repo
# for private repo: https://docs.astral.sh/uv/guides/integration/github/#private-repos
name: CI Quality Gate

on: [push, pull_request]

jobs:
  quality:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version-file: "pyproject.toml"

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          version: "0.9.15"

      - name: Enable caching
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true

      - name: Install dependencies
        run: uv sync

      - name: Lint (Ruff)
        run: |
          uv run ruff check .
          uv run ruff format --check .

      - name: Run Tests
        run: uv run pytest test/

      - name: Minimize uv cache
        run: uv cache prune --ci
